.centergrid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  column-gap: 20;
}

.card img {

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  height: 180px;
}

.centergrid-container .card {
  border-radius: 20px;
  background-color: rgba(67, 68, 72, 1);
  width: 280px;
  height: 240px;
  margin: 10px;
  border-style: none;
  transition: all 0.5s;
}

.centergrid-container .card:hover{
  background-color: rgba(254, 198, 0, 1);
}

.card-body p{
text-transform: uppercase;
font-weight: bold;
}

@media only screen and (max-width: 600px) {
.servicecard-container {
  display: grid;
  grid-template-columns: auto;
}
}