.middle-carousel-div {
  left: 0px;
  width: 100%;
  height: 370px;
  background-color: #4C4D51;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.middle-carousel-div h4 {
  color: white;
  margin-top: 15px;
}

.main-heading {
  text-align: center;
}

.carousel-images {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 40px;
}

.image_carousel {
  width: 100%;
  object-fit: contain;
  max-height:90px;
  max-width: 300px;
}
