.servicecard-container {
  display: grid;
  grid-template-columns: auto auto;
}

.card img {

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  height: 180px;
}

.card {
  border-radius: 20px;
  background-color: #fec601;
  width: 280px;
  height: 240px;
  margin: 10px;
  border-style: none;
}
.card-body p{
text-transform: uppercase;
font-weight: bold;
}

@media only screen and (max-width: 600px) {
.servicecard-container {
  display: grid;
  grid-template-columns: auto;
}
}