.servicesidelist-container {
  max-height: 70vh;
  margin: 30px 0;
}

@media only screen and (max-width: 600px) {
  .servicesidelist-container {

    width: 100%;
    max-height: 80vh;
  }
}

.list-group-item:last-child {
  width: 100% !important;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  height: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #F9F9F9;
  margin-bottom: 10px;

}

.list-group-item:last-child:hover {
  background-color: #fec601;
  margin-left: 0;
}



.css-i4bv87-MuiSvgIcon-root {
  /* margin-left: 250px; */
  width: 30px;
  height: 30px;
}

.side_img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}