.services-container {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


}

@media only screen and (max-width: 600px) {
  .services-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .services-container h4 {
    text-transform: uppercase;
    font-size: 20px;
  }
}


.services-container h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.services-container h2 {
  font-weight: 700;
  font-size: 30px;
}