.footer-container {

  height: 450px;
  background-color: #fec601;
}

.left-div img {
  margin: 50px 10px 0px 10px;

}

.left-div p {
  margin: 0px 60px;
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.8px;
  text-align: justify;
}

.social-media-logo-div {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.social-media-logo-div img {}

.middle-div h4 {
  font-weight: 900;
  font-size: 20px;
  border-left: 4px solid white;
  padding: 0px 10px;
}

.middle-div ul {
  list-style: none;
  font-size: 18px;
  line-height: 42px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.7s;
}

a:hover {
  text-decoration: none;
  margin-left: 10px;
  color: inherit;
}

.right-div {
  display: flex;
  flex-direction: column;
}

.right-div h4 {
  font-weight: 600;
  font-size: 20px;
  border-left: 4px solid white;
  padding: 0px 10px;


}

.right-div ul {
  list-style: none;
  font-size: 18px;


}

.right-div li {
  padding: 10px 0px;
  font-weight: 600;
  display: flex;
}

.col-md-4 {
  display: flex;
  align-items: center;
}

.quick_links {
  display: flex;
  align-items: center;
}

.quick_links p {
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
}

.bottom_row {
  text-align: center;
  font-weight: 900;
  padding-top: 35px;
  font-size: 22px;
}

.bottom_row p {
  margin: 0;
}