.top-address-div {
  height: 80px;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.left-info {
  display: flex
}

.left-info svg {
  width: 40px;
  height: 30px;
  left: 0;
  cursor: pointer;
}

.left-info h5 {
  left: 0;
  cursor: pointer;
  font-size: 16px;
}

.contact_content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.left-info h3 {
  left: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}

.right_header {
  display: flex;
  align-items: center
}

.right_header_start {
  padding-right: 10px;
  border-right: 1px solid #696969;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right_header_end {
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.right_header_start h3 {
  font-size: 20px;
}

.right_header_end h3 {
  font-size: 20px;
}