#navbarDiv {
  height: 110px;
}

.navbar-brand:hover{
  margin-left: 0;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbarSupportedContent a {
  font-size: 20px;
  padding: 15px;
  height: 125%;
}

#navbarSupportedContent a:hover {
  border-bottom: 5px solid #fec601;
  margin-left: 0px;
}


.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 45px;
  height: 7px;
  padding: 0;
  margin-right: 3px;
  margin-left: 12px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}