@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-x: hidden;
}
